<!-- Media buttons -->
<footer>

  <p></p>
  <a href="https://scholar.google.com/citations?user=hgpd7fMAAAAJ&hl=en">
    <img
    title="Google scholar"
    src="https://img.icons8.com/ios/344/google-scholar--v2.png"
    alt="Google scholar"
    width="34"
    height="34" /> </a>

  <a href="https://github.com/saslaw">
    <img
    title="Github"
    src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg"
    alt="Github"
    width="34"
    height="34" /> </a>

  <a href="https://twitter.com/soilenjoyer">
    <img
    title="Twitter"
    src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png"
    alt="Twitter"
    width="34"
    height="34" /> </a>

</footer>

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
