<h2><i>New paper out now!! </i></h2>

<a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2023WR036076"> <img src="https://agupubs.onlinelibrary.wiley.com/cms/asset/214c35e3-2230-4f87-ba1f-331a7bb0aaab/wrcr.v60.6.cover.jpg" width="100" style="float:right; margin-left: 30px; margin-bottom: 100px;" alt="AGU Water Resources Research journal cover"/>
 </a>

<b>Saslaw, M.</b>, Yang, D., Lee, D., Poulsen, C. J., & Henkes, G. A. 2024. An Isotope Mass Balance Analysis of Evaporative Loss From Lake Turkana, Kenya Using δ18O and δD of Natural Waters. <i>Water Resources Research, 60(6)</i>. <a href = "https://doi.org/10.1029/2023WR036076">https://doi.org/10.1029/2023WR036076</a>
<br> <br>
We present new water isotope data from the Turkana Basin along with a novel Bayesian approach for modeling lake water evaporation using isotopes. 

